<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert" *ngIf="lastAttemptFailed">
      {{ 'REGISTRATION_FORM.ERROR' | translate }}!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="lastAttemptFailed === false" class="alert alert-success" role="alert">
      {{ 'REGISTRATION_FORM.SUCCESS' | translate }}
      <a (click)="moveToLogin()" class="page-link"> {{ 'REGISTRATION_FORM.BACK_TO_LOGIN' | translate }}</a>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="sendRegistrationReq()" novalidate>

      <div class="form-group">
        <label for="username">{{ 'REGISTRATION_FORM.LABEL.USERNAME' | translate }}</label>
        <input type="text" class="form-control" formControlName="username" id="username"
          [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(username) }">
        <div *ngIf="fieldValidationService.isInvalid(nickname)" class="invalid-feedback">
          {{ 'REGISTRATION_FORM.VALIDATIONS.PROVIDE_USERNAME' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="password">{{ 'REGISTRATION_FORM.LABEL.PASSWORD' | translate }}</label>
        <input type="password" class="form-control" formControlName="password" id="password"
          [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(password) }">
        <div *ngIf="fieldValidationService.isInvalid(password)" class="invalid-feedback">
          {{ 'REGISTRATION_FORM.VALIDATIONS.PROVIDE_PASSWORD' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="nickname">{{ 'REGISTRATION_FORM.LABEL.NICKNAME' | translate }}</label>
        <input type="text" class="form-control" formControlName="nickname" id="nickname"
          [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(nickname) }">
        <div *ngIf="fieldValidationService.isInvalid(nickname)" class="invalid-feedback">
          {{ 'REGISTRATION_FORM.VALIDATIONS.PROVIDE_NICKNAME' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="name">{{ 'REGISTRATION_FORM.LABEL.NAME' | translate }}</label>
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>

      <div class="form-group">
        <label for="surname">{{ 'REGISTRATION_FORM.LABEL.SURNAME' | translate }}</label>
        <input type="text" class="form-control" formControlName="surname" id="surname">
      </div>

      <div class="form-group">
        <label for="email">{{ 'REGISTRATION_FORM.LABEL.EMAIL' | translate }}</label>
        <input type="text" class="form-control" formControlName="email" id="email"
          [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(email) }" />
        <div *ngIf="fieldValidationService.isInvalid(email)" class="invalid-feedback">
          {{ 'REGISTRATION_FORM.VALIDATIONS.WRONG_EMAIL' | translate }}:
          <span *ngIf="email.hasError('required')">
            {{ 'REGISTRATION_FORM.VALIDATIONS.PROVIDE_EMAIL' | translate }}
          </span>
          <span *ngIf="email.hasError('email')">
            {{ 'REGISTRATION_FORM.VALIDATIONS.WRONG_FORMAT' | translate }}
          </span>
          <span *ngIf="email.hasError('emailTaken')">
            {{ 'REGISTRATION_FORM.VALIDATIONS.EMAIL_TAKEN' | translate }}
          </span>
        </div>
        <small *ngIf='email.pending' class="form-text text-warning">
          {{ 'REGISTRATION_FORM.VALIDATIONS.EMAIL_CHECK_IN_PROGRESS' | translate }}
        </small>
      </div>

      <div class="form-group">
        <label for="bio">{{ 'REGISTRATION_FORM.LABEL.BIO' | translate }}</label>
        <input type="text" class="form-control" formControlName="bio" id="bio">
      </div>

      <div class="form-row">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="registrationForm.invalid">
            {{ 'REGISTRATION_FORM.SUBMIT' | translate }}
          </button>
        </div>
      </div>

    </form>
  </div>
</div>