<div class="navigation-container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link navigation-container__button" routerLink="" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">{{'NAVIGATION.MAIN_PAGE' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navigation-container__button" routerLink="search" routerLinkActive="active">{{'NAVIGATION.SEARCH_RECIPE' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navigation-container__button" routerLinkActive="active" routerLink="add">{{'NAVIGATION.ADD_RECIPE' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navigation-container__button" routerLinkActive="active" routerLink="profile" #logIn>{{'NAVIGATION.MY_PROFILE' | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="isLogged">
      <a class="nav-link navigation-container__button" (click)="logout()">{{'NAVIGATION.LOGOUT' | translate}}</a>
    </li>
  </ul>
</div>
