<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert" *ngIf="lastAttemptFailed">
      {{ 'LOGIN_FORM.WRONG_USERNAME_OR_PASSWORD' | translate }}!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="sendLoginReq()" novalidate>
      <div class="form-group">
        <label for="username">{{ 'LOGIN_FORM.LABEL.USERNAME' | translate }}</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="username"
          [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(username) }">
        <div *ngIf="fieldValidationService.isInvalid(username)" class="invalid-feedback">
          {{ 'LOGIN_FORM.VALIDATIONS.PROVIDE_USERNAME' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="password">{{ 'LOGIN_FORM.LABEL.PASSWORD' | translate }}</label>
        <input type="password" class="form-control" formControlName="password" id="password"
          autocomplete="current-password" [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(password) }">
        <div *ngIf="fieldValidationService.isInvalid(password)" class="invalid-feedback">
          {{ 'LOGIN_FORM.VALIDATIONS.PROVIDE_PASSWORD' | translate }}
        </div>
      </div>

      <div class="form-row">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid || loginInProgress">
            {{ 'LOGIN_FORM.SUBMIT' | translate }}
          </button>
        </div>
        <div class="col-10" class="align-self-center" *ngIf="loginInProgress">
          <div class="text-warning" id="loginInProgressWarning">{{ 'LOGIN_FORM.LOGIN_IN_PROGRESS' | translate}}...</div>
        </div>
      </div>

    </form>
    <div class="form-row">
      <div class="col-auto">
        <button (click)="openRegistrationForm()" class="btn btn-primary btn-block">
          {{ 'LOGIN_FORM.SIGN_UP' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
