<div class="row">
  <div class="col-6 offset-3">
    <div *ngIf="lastAttemptFailed" class="alert alert-danger" role="alert">
      {{ 'LOGIN_FORM.WRONG_USERNAME_OR_PASSWORD' | translate }}!
      <button (click)="hide()" aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="sendLoginReq()" [formGroup]="loginForm" novalidate>
      <div class="form-group">
        <label for="username">{{ 'LOGIN_FORM.LABEL.USERNAME' | translate }}</label>
        <input [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(username) }" autocomplete="username" class="form-control" formControlName="username" id="username"
               type="text">
        <div *ngIf="fieldValidationService.isInvalid(username)" class="invalid-feedback">
          {{ 'LOGIN_FORM.VALIDATIONS.PROVIDE_USERNAME' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ 'LOGIN_FORM.LABEL.PASSWORD' | translate }}</label>
        <input [ngClass]="{ 'is-invalid': fieldValidationService.isInvalid(password) }" autocomplete="current-password" class="form-control" formControlName="password"
               id="password" type="password">
        <div *ngIf="fieldValidationService.isInvalid(password)" class="invalid-feedback">
          {{ 'LOGIN_FORM.VALIDATIONS.PROVIDE_PASSWORD' | translate }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-auto">
          <button [disabled]="loginForm.invalid || loginInProgress" class="btn btn-primary btn-block" type="submit">
            {{ 'LOGIN_FORM.SUBMIT' | translate }}
          </button>
        </div>
        <div *ngIf="loginInProgress" class="align-self-center" class="col-10">
          <div class="text-warning" id="loginInProgressWarning">{{ 'LOGIN_FORM.LOGIN_IN_PROGRESS' | translate}}...</div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-6 offset-3 pt-4">
    <a routerLink="/registration">{{'LOGIN_FORM.SIGN_UP' | translate}}</a>
  </div>
</div>
