<div *ngIf="recipe; else loading">
  <div class="row">
    <div class="col-10 offset-1" id="title">
      <h1 class="display-3">{{ recipe.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <div *ngIf="showAlert" class="alert alert-success" role="alert">
        {{ 'RECIPE_PAGE.SCORE_WAS_ADDED' | translate }}!
        <button (click)="hide()" aria-label="Close" class="close" data-dismiss="alert" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 offset-1">
      <img alt="{{recipe.title}} image" class="img-thumbnail" src="/assets/images/sample_foot_photo.png">
    </div>
    <div class="col-4">
      <p class="lead font-weight-bolder">{{ 'RECIPE_PAGE.NECESSARY_INGREDIENTS' | translate }}</p>
      <ul *ngFor="let ingredient of recipe.ingredients">
        <li>{{ ingredient.name }}</li>
      </ul>
    </div>
    <div class="col-3">
      <p class="lead font-weight-bolder">{{ 'RECIPE_PAGE.YOUR_SCORE' | translate }}</p>
      <div>
        <app-recipe-rating (ratingClick)="handleRatingClick($event)" [initialRating]="rating">
        </app-recipe-rating>
      </div>
      <div *ngIf="isRatingConfirmationVisible" class="mt-3">
        <button (click)="updateRating()"
                class="btn btn-primary">{{ 'RECIPE_PAGE.SEND_SCORE' | translate }}</button>
      </div>
      <div class="mt-3">
        <button (click)="routeToEditor()"
                class="btn btn-primary">{{ 'RECIPE_PAGE.EDIT_RECIPE' | translate }}</button>
      </div>
    </div>

  </div>

  <div class="row pt-4">
    <div class="col-10 offset-1">
      <p class="lead font-weight-bolder">{{ 'RECIPE_PAGE.PREPARATION_INSTRUCTIONS' | translate }}</p>
      <div id="description">{{ recipe.description }}</div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row pt-5">
    <div class="col-4 offset-4 d-flex flex-row align-items-center">
      <p class="lead text-maroon">{{ 'RECIPE_PAGE.LOADING' | translate }}</p>
      <div class="ml-auto pb-2">
        <div aria-hidden="true" class="spinner-border recipe-spinner text-maroon" role="status"></div>
      </div>
    </div>
  </div>
</ng-template>
